/* File Created: December 24, 2014 */
    
    #AboutIFrameDivHeader
    {
        top: 25px;
        width: 500px;
        height: 20px;       
        font-size:20px;
        font-style:"font-family: verdana";          
        vertical-align: middle;
        padding-top: 5px;       
        padding-bottom: 15px;
        padding-left: 10px;  
        /*background: linear-gradient(#545456,#6F7078);  */
         color: white;
        border: 2px inset #CDD2D9;
    }
    
    
       
